html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "pretendardR";
  font-weight: 400;
  font-style: normal;
  src: url("../public/fonts/PretendardVariable.woff2") format("woff2");
}
@font-face {
  font-family: "pretendardM";
  font-weight: 500;
  font-style: normal;
  src: url("../public/fonts/PretendardVariable.woff2") format("woff2");
}
@font-face {
  font-family: "pretendardSB";
  font-weight: 600;
  font-style: normal;
  src: url("../public/fonts/PretendardVariable.woff2") format("woff2");
}
@font-face {
  font-family: "pretendardB";
  font-weight: 700;
  font-style: normal;
  src: url("../public/fonts/PretendardVariable.woff2") format("woff2");
}
@font-face {
  font-family: "pretendardEB";
  font-weight: 800;
  font-style: normal;
  src: url("../public/fonts/PretendardVariable.woff2") format("woff2");
}
